<div class="gb-stats" layout="row" layout-align="space-around center">
  <gb-statistic label="Lowest" stat="ctrl.GradeService.minScore(ctrl.GradeService.data.grades)" flex="25"></gb-statistic>
  <gb-statistic label="Highest" stat="ctrl.GradeService.maxScore(ctrl.GradeService.data.grades)" flex="25"></gb-statistic>
  <gb-statistic label="Average" stat="ctrl.GradeService.meanScore(ctrl.GradeService.data.grades)" flex="25"></gb-statistic>
</div>

<md-toolbar class="md-primary">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Student Scores</h2>
    <span flex></span>
    <md-button class="md-fab md-mini" aria-label="Add Student" ng-click="ctrl.newStudent($event)">
      <md-tooltip md-direction="top">
        New Student
      </md-tooltip>
      <md-icon>add</md-icon>
    </md-button>
  </div>
</md-toolbar>

<div class="gb-student-grades" ng-if="ctrl.GradeService.data.grades.length">
  <gb-grade index="$index" grade="grade" on-update="ctrl.updateStudent($grade)" on-delete="ctrl.removeStudent($grade)" ng-repeat="grade in ctrl.GradeService.data.grades | orderBy:'name'"></gb-grade>
</div>

<gb-zero-state ng-if="!ctrl.GradeService.data.grades.length">
  You need to enter some students.
</gb-zero-state>

<!--<pre>{{ctrl.GradeService.data.grades | json}}</pre>-->
