<div layout="row" layout-align="start stretch">

  <!-- TODO: Validation Errors -->
  <div class="gb-name" flex="85" layout="row">
    <md-icon class="gb-good" flex="none" ng-if="$ctrl.grade.score >= 65">
      <md-tooltip>
        Passing Grade
      </md-tooltip>
      check_circle
    </md-icon>
    <md-icon class="gb-bad" flex="none" ng-if="$ctrl.grade.score < 65">
      <md-tooltip>
        Failing Grade
      </md-tooltip>
      warning
    </md-icon>
    <div flex>
      <input
          type="text"
          placeholder="Name"
          ng-model="$ctrl.grade.name"
          ng-model-options="{ updateOn: 'blur' }"
          ng-change="$ctrl.update()"
          gb-update-on-enter
      >
    </div>
  </div>


  <!-- TODO: Validation Errors -->
  <div class="gb-score" flex="10">
    <input
        type="number"
        placeholder="Score"
        min="0"
        max="100"
        ng-model="$ctrl.grade.score"
        ng-model-options="{ updateOn: 'blur' }"
        ng-change="$ctrl.update()"
        gb-update-on-enter
    >
  </div>

  <div class="gb-action" flex="5">
    <md-button class="md-icon-button" aria-label="Delete" ng-click="$ctrl.remove($event)">
      <md-tooltip>
        Delete
      </md-tooltip>
      <md-icon>delete</md-icon>
    </md-button>
  </div>
</div>
