md-toolbar .md-toolbar-tools h2 {
  width: 1024px;
  margin: auto;
}

#gb-wrapper {
  padding: 1em;
  width: 1024px;
  margin: 0 auto;
}

.gb-stats {
  margin: 1em 0 2em;
}

gb-statistic div {
  color: #fff;
  background-color: #E91E63;
  border-radius: 3px;
  padding: 1em;
}

gb-statistic h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

gb-statistic figure {
  display: block;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

gb-grade {
  display: block;
  background-color: #fff;
  border: 4px solid #ccc;
  margin-bottom: -4px;
}

gb-grade .gb-name,
gb-grade .gb-score {
  padding: .5em;
}

gb-grade .gb-name,
gb-grade .gb-score {
  border-right: 4px solid #ccc;
}

gb-grade input {
  border: none;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}

gb-grade .gb-score,
gb-grade .gb-score input {
  text-align: right;
}

gb-zero-state {
  padding: 1em;
  text-align: center;
  font-weight: bold;
  display: block;
  background-color: #efefef;
}